<div id="about_me">

  <p><h3><em>Programista pasjonat na początku kariery :)</em></h3></br>
    Szukający rozwoju i zdobywania nowego doświadczenia zarówno w front-endzie jak i back-endzie. Charakteryzujący sie
    sumiennością, rzetelnością jak również pełnym zaangażowaniem w projekt.
    Jako absolwent Wyższej Szkoły Informatycznej w Warszawie silnie zmotywowany do dalszej nauki i w dążeniu do celu.
    Sympatyczny i szybko nawiązujący dobre relacje ze współpracownikami.</p>
</div>




